body {
	background-image: url(../img/bg.gif);
}

nav {
	position: relative;
	top: 0;
	transition: background-color .3s, opacity .2s, visibility 0s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	z-index: 10;
}

nav .nav-background {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 64px;
	left: 0;
	z-index: -1;
	opacity: .1;
}

nav .nav-background img, nav .nav-background .pattern {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	left: 0;
	margin: 0 auto;
	max-width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: opacity .7s;
}

nav .nav-background .pattern {
	top: 0;
	bottom: 0;
	-webkit-transform: none;
	transform: none;
	background-repeat: repeat;
}

nav .nav-header {
	word-wrap: break-word;
	clear: both;
	padding: 40px 0;
}

.nav-content {
	height: 64px;
}

.nav-content .tabs, .nav-content .tab {
	height: 64px;
	line-height: 64px;
}

nav ul a {
	transition: background-color .3s !important;
	cursor: pointer;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.clickable {
	cursor: pointer;
}

nav .pinned {
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer-copyright {
	background-color: rgba(51, 51, 51, 0.08);
	height: 50px;
	line-height: 50px;
	color: white;
}

footer {
	overflow: hidden;
}
